main {
    background: url(/images/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;

    display: grid;
    place-content: center;
    grid-template: auto auto / auto;
    gap: 2rem;
}

.auth-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;

    padding: 3rem;

    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(82px);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 0.5rem;
}

.error-message {
    width: 100%;
    padding: 1rem 1rem;
    background-color: var(--bg-error);
    color: var(--color-error);
    border: 1px solid var(--color-error);
    border-radius: .5rem;

    font-size: smaller;
    font-weight: 600;
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    & span {
        opacity: 0.6;
        font-size: small;
    }
}

h1 {
    font-size: x-large;
    font-weight: 600;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input {
    position: relative;

    & label {
        position: absolute;
        left: 0.8rem;
        top: 0.7rem;

        svg {
            fill: white;
            width: 1rem;
            height: 1rem;
        }
    }

    & input {
        width: 100%;
        background-color: var(--bg-color-aph40);
        border-radius: 0.2rem;
        border: solid 1px var(--bg-color-aph40);
        padding: 0.6rem 2.5rem;

        &:focus-visible {
            outline: none;
            border: solid 1px var(--color-active);
        }
    }

    & a {
        position: absolute;
        right: 0.8rem;
        top: 0.8rem;

        font-size: x-small;
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
}

.remember-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    & input {
        cursor: pointer;
        appearance: none;
        width: 1rem;
        height: 1rem;
        background-color: var(--bg-color-aph40);
        border: 1px solid var(--color-active);
        border-radius: 0.1rem;

        &:checked {
            background-color: var(--bg-color-aph60);
            border-color: var(--color-active);
        }
        
        &:checked::before {
            content: '✔';
            display: block;
            text-align: center;
            color: white;
            font-size: 0.7rem;
        }
    }
    
    & label {
        font-size: smaller;
    }

}

button {
    cursor: pointer;

    padding: 0.6rem 1rem;
    background-color: var(--color-base);
    border-radius: 0.2rem;
    border: none;

    font-size: small;
    font-weight: 500;

    &:hover {
        background-color: var(--color-hover);
    }

    &:active {
        background-color: var(--color-active);
    }
}

form {
    width: 100%;
    display: grid;
    gap: 2rem;
}

.register-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;

    font-size: small;

    & span {
        opacity: .6;
    }
    
    & a {
        text-decoration: none;
        color: var(--color-base);
        font-weight: bold;
    }
}